# =============================================================================
# Visual Studio
# =============================================================================

*.vcxproj
*.csproj
*.filters
*.user
*.sln

# =============================================================================
# Visual Studio IntelSence.
# =============================================================================

*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
*.suo
/.vs/ForceEngine/v16
/.vs/ForceEngine/v17
/.vs
/enc_temp_folder